---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bWVyd2FuZWhhbWFkaToxNGt3b0J2NlNxZFIzWVphZUg4a3JMQ0tmTzQ2Y0o5SmV5SHV6R1VqaGNYWHhldllrNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"a9a071bcf81c4c8aaf8738f4c0de6fc7","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 21 Nov 2019 16:04:48 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_457@capsens.eu"}'
    headers:
      Authorization:
      - bearer a9a071bcf81c4c8aaf8738f4c0de6fc7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1'
      - '1'
      - '582'
      - '65'
      X-Ratelimit-Remaining:
      - '105018'
      - '2299'
      - '4499'
      - '8735'
      X-Ratelimit-Reset:
      - '1574353140'
      - '1574354040'
      - '1574355840'
      - '1574438580'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_457@capsens.eu","KYCLevel":"LIGHT","Id":"71647849","Tag":null,"CreationDate":1574352288}'
  recorded_at: Thu, 21 Nov 2019 16:04:48 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71647849"],"Description":"Wallet de: user_457@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer a9a071bcf81c4c8aaf8738f4c0de6fc7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '2'
      - '2'
      - '583'
      - '66'
      X-Ratelimit-Remaining:
      - '105017'
      - '2298'
      - '4498'
      - '8734'
      X-Ratelimit-Reset:
      - '1574353140'
      - '1574354040'
      - '1574355840'
      - '1574438580'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_457@capsens.eu","Owners":["71647849"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71647851","Tag":null,"CreationDate":1574352288}'
  recorded_at: Thu, 21 Nov 2019 16:04:48 GMT
recorded_with: VCR 5.0.0
