---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"","CountryOfResidence":"FR","Email":"user_457@capsens.eu"}'
    headers:
      Authorization:
      - bearer 660a95e4da844b1085d3d5d71582b7d7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"One or several required parameters are missing or incorrect.
        An incorrect resource ID also raises this kind of error.","Type":"param_error","Id":"5fb694ee-6279-4529-a721-0e20a31a9bf7#1574353630","Date":1574353631.0,"errors":{"Nationality":"The
        Nationality field is required."}}'
  recorded_at: Thu, 21 Nov 2019 16:27:10 GMT
recorded_with: VCR 5.0.0
