---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bWVyd2FuZWhhbWFkaToxNGt3b0J2NlNxZFIzWVphZUg4a3JMQ0tmTzQ2Y0o5SmV5SHV6R1VqaGNYWHhldllrNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"660a95e4da844b1085d3d5d71582b7d7","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 21 Nov 2019 16:12:58 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_457@capsens.eu"}'
    headers:
      Authorization:
      - bearer 660a95e4da844b1085d3d5d71582b7d7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '3'
      - '3'
      - '584'
      - '63'
      X-Ratelimit-Remaining:
      - '105016'
      - '2297'
      - '4497'
      - '8737'
      X-Ratelimit-Reset:
      - '1574353620'
      - '1574354520'
      - '1574356320'
      - '1574439060'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_457@capsens.eu","KYCLevel":"LIGHT","Id":"71648569","Tag":null,"CreationDate":1574352778}'
  recorded_at: Thu, 21 Nov 2019 16:12:58 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71648569"],"Description":"Wallet de: user_457@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 660a95e4da844b1085d3d5d71582b7d7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '4'
      - '4'
      - '585'
      - '64'
      X-Ratelimit-Remaining:
      - '105015'
      - '2296'
      - '4496'
      - '8736'
      X-Ratelimit-Reset:
      - '1574353620'
      - '1574354520'
      - '1574356320'
      - '1574439060'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_457@capsens.eu","Owners":["71648569"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71648570","Tag":null,"CreationDate":1574352778}'
  recorded_at: Thu, 21 Nov 2019 16:12:58 GMT
recorded_with: VCR 5.0.0
