---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Delilah","LastName":"Predovic","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_8539632b96c6f430ca8a@capsens.eu"}'
    headers:
      Authorization:
      - bearer 3f74f26a6fd345b0821a294511e64088
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '61'
      - '61'
      - '649'
      - '89'
      X-Ratelimit-Remaining:
      - '104951'
      - '2239'
      - '4439'
      - '8711'
      X-Ratelimit-Reset:
      - '1574420100'
      - '1574421000'
      - '1574422800'
      - '1574505540'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Delilah","LastName":"Predovic","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_8539632b96c6f430ca8a@capsens.eu","KYCLevel":"LIGHT","Id":"71670478","Tag":null,"CreationDate":1574419214}'
  recorded_at: Fri, 22 Nov 2019 10:40:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71670478"],"Description":"Wallet de: user_8539632b96c6f430ca8a@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 3f74f26a6fd345b0821a294511e64088
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '62'
      - '62'
      - '650'
      - '90'
      X-Ratelimit-Remaining:
      - '104950'
      - '2238'
      - '4438'
      - '8710'
      X-Ratelimit-Reset:
      - '1574420100'
      - '1574421000'
      - '1574422800'
      - '1574505540'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_8539632b96c6f430ca8a@capsens.eu","Owners":["71670478"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71670479","Tag":null,"CreationDate":1574419214}'
  recorded_at: Fri, 22 Nov 2019 10:40:14 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71670482"],"Description":"Wallet de: user_2ffab7c327e0ec539061@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 3f74f26a6fd345b0821a294511e64088
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '654'
      - '66'
      - '66'
      - '94'
      X-Ratelimit-Remaining:
      - '104946'
      - '2234'
      - '4434'
      - '8706'
      X-Ratelimit-Reset:
      - '1574420100'
      - '1574421000'
      - '1574422800'
      - '1574505540'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_2ffab7c327e0ec539061@capsens.eu","Owners":["71670482"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71670483","Tag":null,"CreationDate":1574419214}'
  recorded_at: Fri, 22 Nov 2019 10:40:14 GMT
recorded_with: VCR 5.0.0
