---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Julian","LastName":"Koch","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_4ccb2b3b4f39734c5fb2@capsens.eu"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '15'
      - '15'
      - '21'
      - '598'
      X-Ratelimit-Remaining:
      - '105002'
      - '2285'
      - '4485'
      - '8779'
      X-Ratelimit-Reset:
      - '1574358060'
      - '1574358960'
      - '1574360760'
      - '1574443500'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Julian","LastName":"Koch","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_4ccb2b3b4f39734c5fb2@capsens.eu","KYCLevel":"LIGHT","Id":"71652993","Tag":null,"CreationDate":1574357212}'
  recorded_at: Thu, 21 Nov 2019 17:26:52 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71652993"],"Description":"Wallet de: user_4ccb2b3b4f39734c5fb2@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '16'
      - '16'
      - '22'
      - '599'
      X-Ratelimit-Remaining:
      - '105001'
      - '2284'
      - '4484'
      - '8778'
      X-Ratelimit-Reset:
      - '1574358060'
      - '1574358960'
      - '1574360760'
      - '1574443500'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_4ccb2b3b4f39734c5fb2@capsens.eu","Owners":["71652993"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71652994","Tag":null,"CreationDate":1574357212}'
  recorded_at: Thu, 21 Nov 2019 17:26:52 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71652997"],"Description":"Wallet de: user_6f890ba4bdc249e1ac58@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '20'
      - '20'
      - '26'
      - '603'
      X-Ratelimit-Remaining:
      - '104997'
      - '2280'
      - '4480'
      - '8774'
      X-Ratelimit-Reset:
      - '1574358060'
      - '1574358960'
      - '1574360760'
      - '1574443500'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_6f890ba4bdc249e1ac58@capsens.eu","Owners":["71652997"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71652998","Tag":null,"CreationDate":1574357213}'
  recorded_at: Thu, 21 Nov 2019 17:26:53 GMT
recorded_with: VCR 5.0.0
