---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_457@capsens.eu"}'
    headers:
      Authorization:
      - bearer b2360b2b7f0d412a9f9826490927b54a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '5'
      - '5'
      - '582'
      - '9'
      X-Ratelimit-Remaining:
      - '105018'
      - '2295'
      - '4495'
      - '8791'
      X-Ratelimit-Reset:
      - '1574356140'
      - '1574357040'
      - '1574358840'
      - '1574441580'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"first_name","LastName":"last_name","Birthday":920505600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_457@capsens.eu","KYCLevel":"LIGHT","Id":"71651894","Tag":null,"CreationDate":1574355252}'
  recorded_at: Thu, 21 Nov 2019 16:54:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71651894"],"Description":"Wallet de: user_457@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer b2360b2b7f0d412a9f9826490927b54a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '10'
      - '583'
      - '6'
      - '6'
      X-Ratelimit-Remaining:
      - '105017'
      - '2294'
      - '4494'
      - '8790'
      X-Ratelimit-Reset:
      - '1574356140'
      - '1574357040'
      - '1574358840'
      - '1574441580'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_457@capsens.eu","Owners":["71651894"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71651895","Tag":null,"CreationDate":1574355252}'
  recorded_at: Thu, 21 Nov 2019 16:54:12 GMT
recorded_with: VCR 5.0.0
