---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Delora","LastName":"Braun","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_813dd29d89266e83f2cd@capsens.eu"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm=MangopayAuthentication
      - Bearer realm="MangopayAuthentication"
    body:
      encoding: UTF-8
      string: '{"Message":"The authorization credentials are not valid","Type":"invalid_credentials","Id":"04e2bafb-ae11-4d7f-b7ba-b9cb6d4ba081#1574415557","Date":1574415558.0,"errors":null}'
  recorded_at: Fri, 22 Nov 2019 09:39:17 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":null,"CreditedUserId":null,"CreditedWalletId":null,"DebitedFunds":{"Currency":"EUR","Amount":0},"Fees":{"Currency":"EUR","Amount":0},"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/payment","Culture":"FR","Tag":"PayIn/Card/Web","SecureMode":"DEFAULT","TemplateURL":"http://www.a-url.com/3DS-redirect"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm=MangopayAuthentication
      - Bearer realm="MangopayAuthentication"
    body:
      encoding: UTF-8
      string: '{"Message":"The authorization credentials are not valid","Type":"invalid_credentials","Id":"2f8e991b-2d52-429a-90e9-501eb3470c60#1574415557","Date":1574415558.0,"errors":null}'
  recorded_at: Fri, 22 Nov 2019 09:39:17 GMT
recorded_with: VCR 5.0.0
