---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bWVyd2FuZWhhbWFkaToxNGt3b0J2NlNxZFIzWVphZUg4a3JMQ0tmTzQ2Y0o5SmV5SHV6R1VqaGNYWHhldllrNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"3f74f26a6fd345b0821a294511e64088","token_type":"bearer","expires_in":1199}'
  recorded_at: Fri, 22 Nov 2019 10:40:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Maggie","LastName":"Gaylord","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_8b0da4734781cbaa3a53@capsens.eu"}'
    headers:
      Authorization:
      - bearer 3f74f26a6fd345b0821a294511e64088
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '53'
      - '53'
      - '641'
      - '81'
      X-Ratelimit-Remaining:
      - '104959'
      - '2247'
      - '4447'
      - '8719'
      X-Ratelimit-Reset:
      - '1574420100'
      - '1574421000'
      - '1574422800'
      - '1574505540'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Maggie","LastName":"Gaylord","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_8b0da4734781cbaa3a53@capsens.eu","KYCLevel":"LIGHT","Id":"71670470","Tag":null,"CreationDate":1574419212}'
  recorded_at: Fri, 22 Nov 2019 10:40:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71670470"],"Description":"Wallet de: user_8b0da4734781cbaa3a53@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 3f74f26a6fd345b0821a294511e64088
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '54'
      - '54'
      - '642'
      - '82'
      X-Ratelimit-Remaining:
      - '104958'
      - '2246'
      - '4446'
      - '8718'
      X-Ratelimit-Reset:
      - '1574420100'
      - '1574421000'
      - '1574422800'
      - '1574505540'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_8b0da4734781cbaa3a53@capsens.eu","Owners":["71670470"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71670471","Tag":null,"CreationDate":1574419212}'
  recorded_at: Fri, 22 Nov 2019 10:40:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"71670470","CreditedUserId":"71670470","CreditedWalletId":"71670471","DebitedFunds":{"Currency":"EUR","Amount":7761},"Fees":{"Currency":"EUR","Amount":0},"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/payment","Culture":"FR","Tag":"PayIn/Card/Web","SecureMode":"DEFAULT","TemplateURL":"http://www.a-url.com/3DS-redirect"}'
    headers:
      Authorization:
      - bearer 3f74f26a6fd345b0821a294511e64088
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '55'
      - '55'
      - '643'
      - '83'
      X-Ratelimit-Remaining:
      - '104957'
      - '2245'
      - '4445'
      - '8717'
      X-Ratelimit-Reset:
      - '1574420100'
      - '1574421000'
      - '1574422800'
      - '1574505540'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"71670472","Tag":"PayIn/Card/Web","CreationDate":1574419212,"AuthorId":"71670470","CreditedUserId":"71670470","DebitedFunds":{"Currency":"EUR","Amount":7761},"CreditedFunds":{"Currency":"EUR","Amount":7761},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"71670471","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=13JzDlLMJyNBYeTQN3671574419212513","ReturnURL":"http://localhost:3000/payment?transactionId=71670472","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=3034a097058b4a5ca2293417f5c57305&transactionId=71670472","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Fri, 22 Nov 2019 10:40:12 GMT
recorded_with: VCR 5.0.0
