---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bWVyd2FuZWhhbWFkaToxNGt3b0J2NlNxZFIzWVphZUg4a3JMQ0tmTzQ2Y0o5SmV5SHV6R1VqaGNYWHhldllrNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"06d09e4f4b0c460189daa14e71bc37a9","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 21 Nov 2019 17:21:31 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/users/natural
    body:
      encoding: UTF-8
      string: '{"FirstName":"Keith","LastName":"Oberbrunner","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Email":"user_c965ba317862aa0b0913@capsens.eu"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '3'
      - '586'
      - '9'
      - '9'
      X-Ratelimit-Remaining:
      - '105014'
      - '2297'
      - '4491'
      - '8791'
      X-Ratelimit-Reset:
      - '1574357760'
      - '1574358660'
      - '1574360460'
      - '1574443200'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Keith","LastName":"Oberbrunner","Birthday":900201600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"user_c965ba317862aa0b0913@capsens.eu","KYCLevel":"LIGHT","Id":"71652869","Tag":null,"CreationDate":1574356891}'
  recorded_at: Thu, 21 Nov 2019 17:21:31 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":["71652869"],"Description":"Wallet de: user_c965ba317862aa0b0913@capsens.eu","Currency":"EUR"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '10'
      - '10'
      - '4'
      - '587'
      X-Ratelimit-Remaining:
      - '105013'
      - '2296'
      - '4490'
      - '8790'
      X-Ratelimit-Reset:
      - '1574357760'
      - '1574358660'
      - '1574360460'
      - '1574443200'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Wallet de: user_c965ba317862aa0b0913@capsens.eu","Owners":["71652869"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"71652870","Tag":null,"CreationDate":1574356892}'
  recorded_at: Thu, 21 Nov 2019 17:21:32 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/merwanehamadi/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"71652869","CreditedUserId":"71652869","CreditedWalletId":"71652870","DebitedFunds":{"Currency":"EUR","Amount":6362},"Fees":{"Currency":"EUR","Amount":0},"CardType":"CB_VISA_MASTERCARD","ReturnURL":"http://localhost:3000/payment","Culture":"FR","Tag":"PayIn/Card/Web","SecureMode":"DEFAULT","TemplateURL":"http://www.a-url.com/3DS-redirect"}'
    headers:
      Authorization:
      - bearer 06d09e4f4b0c460189daa14e71bc37a9
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        Merwanes-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Sun Apr 28
        18:06:45 PDT 2019; root:xnu-4903.261.4~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '11'
      - '11'
      - '5'
      - '588'
      X-Ratelimit-Remaining:
      - '105012'
      - '2295'
      - '4489'
      - '8789'
      X-Ratelimit-Reset:
      - '1574357760'
      - '1574358660'
      - '1574360460'
      - '1574443200'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"71652871","Tag":"PayIn/Card/Web","CreationDate":1574356892,"AuthorId":"71652869","CreditedUserId":"71652869","DebitedFunds":{"Currency":"EUR","Amount":6362},"CreditedFunds":{"Currency":"EUR","Amount":6362},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"71652870","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=1m8zAvckWF2zZXHRe4041574356892389","ReturnURL":"http://localhost:3000/payment?transactionId=71652871","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=c6d3373cda1b47c3b4851dc8dd91327c&transactionId=71652871","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Thu, 21 Nov 2019 17:21:32 GMT
recorded_with: VCR 5.0.0
